:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --white-color: #ffffff;
}
.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* вторичный цвет текста rgba(255, 255, 255, 0.6) */
/* белый цвет #FFFFFF */
/* акцент #212121*/
/* вторичный цвет фона темный #2F303A */
/* вторичный цвет фона серый #F5F4FA */

/* утилита сброса точек списка */
.list {
  list-style: none;
}
/* site-nav */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}
/* auth-nav */
.auth-nav .link {
  color: #757575;
}
.auth-nav .link:hover {
  color: #2196f3;
}
/* Hero */
.hero-title {
  color: var(--white-color);
}
.hero {
  background-color: #2f303a;
}
.button {
  color: var(--white-color);
  background-color: #2196f3;
}
/* Section */
.section-title {
  color: var(--title-text-color);
}
.section.background {
  background-color: #f5f4fa;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.addres {
  color: var(--white-color);
}
.mail {
  color: rgba(255, 255, 255, 0.6);
}
.tel {
  color: rgba(255, 255, 255, 0.6);
}
